@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing:border-box
}
a{text-decoration:none;color:inherit;}
button{border-style:solid;background:none;color:inherit;}
ul, li{list-style:none;}
textarea, input, button{outline:none;}
body{font-family:華康儷中宋}
/*************************************/
nav{position:fixed;top:0;left:0;right:0;color:#FFF;z-index:9999;background-color:rgba(0,0,0,.8);transition:all 1s ease;}
nav > ul{float:right;position:relative;}
nav > ul > li{float:left;}
nav > ul > li > a{
	display:block;
	height:70px;
	line-height:70px;
	width:150px;
	text-align:center;
	font-size:1.5em;
}
nav > ul > .movebar{
	position:absolute;
	width:150px;
	bottom:0;
	left:0;
	height:6px;
	background-color:#F90;
	transition: left .5s ease;
}
.#h:target ~ nav .movebar{left:0;}
.p1:target ~ nav .movebar{left:150px;}
.p2:target ~ nav .movebar{left:300px;}
.p3:target ~ nav .movebar{left:450px;}
.p4:target ~ nav .movebar{left:600px;}
.p5:target ~ nav .movebar{left:750px;}
/*************************************/
header{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	min-width:100%;
	background:url(images/bg1.jpg) 0 / cover fixed;
	color:#FFF;	
	flex-direction:column
}
h1{font-size:5em}
header > button{
	box-sizing:content-box;
	border-color:#FFF;
	border-width:2px;
	font-size:1.2rem;
	width: 120px;
	height: 50px;
	line-height: 50px;
	padding: 8px 30px;
	margin-top: 30px;
	position:relative;
	transition: color .8s ease;
	transform: translateZ(0);
	font-weight:bold;
	cursor:pointer;
}
header > button:hover{
	color:#975d37;
}
header > button:before{
	content:'';
	position:absolute;
	top:0;bottom:0;left:0;right:0;
	z-index:-1;
	transform-origin:0 0;
	background-color:#FFF;
	transform:scaleX(0);
	transition: transform .8s ease;
}
header > button:hover:before{
	transform:scaleX(1);
}
header > button > span{
	display:block;
	margin-top:-25px;
	width:100%;
}
/*************************************/
.p1, .p2, .p3, p4, p5{
	width:100%;
}
.p1 img, .p2 img, .p3 img, .p4 img{
	margin:50px;
	max-width:100%;
}
.p1 .inner, .p2 .inner, .p3 .inner, .p4 .inner, .p5 .inner{
	color: #FFF;
	height: 100vh;
	width:100%;
}
.p1 .inner.fixed,
.p2 .inner.fixed,
.p3 .inner.fixed,
.p4 .inner.fixed,
.p5 .inner.fixed{
	position:fixed;
	left:0;top:0;width:50%;
}
.p1 .text-content,
.p2 .text-content,
.p3 .text-content,
.p4 .text-content,
.p5 .text-content{
	width:100%;
	max-width:480px;
}
.p1 .row .col-6:first-child,
.p2 .row .col-6:first-child,
.p3 .row .col-6:first-child,
.p4 .row .col-6:first-child,
.p5 .row .col-6:first-child{
	padding:0;
}
.inner{
	text-align:center;
}
 .inner::before{
   content:'';
   width:0;
   height:100%;
   display:inline-block;
   position:relative;
   vertical-align:middle;
 }
h2{
	font-size:4em;
	display:inline-block;
	vertical-align:middle;
}
h3{
	font-size:3em;
	margin:1em 0;
}
/*************************************/
.p1 .inner{
	background:url(images/bg2.jpg) 0 / cover;
}
.p1 .fixobj{
	background: url(images/objf1.png) no-repeat right center fixed
}
/*************************************/
.p2 .inner{
	background:url(images/bg3.jpg) 0 / cover;
	width:50%;
	position:absolute;
	top:2516px
}
.p2 .fixobj{
	background: url(images/objf2.png) no-repeat right center fixed
}
/*************************************/
.p3 .inner{
	background:url(images/bg4.jpg) 0 / cover;
	width:50%;
	position:absolute;
}
.p3 .fixobj{
	background: url(images/objf2.png) no-repeat right center fixed
}
/*************************************/
.p4 .inner{
	background:url(images/bg5.jpg) 0 / cover;
	width:50%;
	position:absolute;
}
.p4 .fixobj{
	background: url(images/objf2.png) no-repeat right center fixed
}
/*************************************/
.p5 .inner{
	background:url(images/bg6.jpg) 0 / cover;
	width:50%;
	position:absolute;
}
.p5 .fixobj{
	background: url(images/objf1.png) no-repeat right center fixed
}
.p5 .space{
	height: 300px;
	weight:100%;
}
.p5 input{
	border:1px solid #CCC;
	border-radius:5px;
	width:150px;
	height:30px;
	padding-left:10px;
	margin-left:10px;
}
.p5 label{
	display:block;
	width:480px;
	max-width:480px;
}
.p5 .name{
	float:right;
	font-size:1.8em;}
.p5 button{
	display:block;
	height: 50px;
	width:150px;
	font-size:2em;
	border:none;
	background-color:#099;
	color:#FFF;
	margin:50px auto;
	cursor:pointer
}
/*************************************/
footer{
	text-align:center;
	padding: 20px;
	position:relative;
	z-index:999;
	background-color:#FFF;
	line-height: 55px;
}

/*************************************/
.col-1,.col-2,.col-3,.col-4,
.col-5,.col-6,.col-7,.col-8,
.col-9,.col-10,.col-11,.col-12{
	float:left;
	padding:15px;
}

.container{
	margin:auto;
	min-width:100%;
}
.push-right{
	float:right;
}
.tar{text-align:right}
.tac{text-align:center}
.tal{text-align:left}

.text-content{
	line-height:1.9em;
	font-size:1.3em;
	word-break: break-all;
	text-align: justify; 
    text-justify: inter-ideographic;
}
.cl:before, .cl:after, .row:after{display:table;content:'';clear:both}

.fade-up, .fade-down, .fade-right, .fade-left{
	opacity:0;
	transition: all 1s ease;
}
.fade-up{transform:translateY(100px);}
.fade-down{transform:translateY(-100px);}
.fade-right{transform:translateY(200px);}
.fade-left{transform:translateY(-200px);}

.ts05{transition-duration:.5s}
.ts2{transition-duration:2s}
.ts3{transition-duration:3s}
.ts4{transition-duration:4s}

.imgborder{
	border:8px solid #FFF;
	box-shadow:6px 6px 35px rgba(0,0,0,.3)
}
.bdrs{
 	border-radius:50%;
}

@media screen and (min-width: 480px){
	.col-1,.col-2,.col-3,.col-4,
	.col-5,.col-6,.col-7,.col-8,
	.col-9,.col-10,.col-11,.col-12{
		width:100%
	}
}
@media screen and (min-width: 768px){
	.container{
		widht: 750px;
	}
	.col-1{width:8.33333334%}.col-2{width:16.66666666%}.col-3{width:25%}
	.col-4{width:33.33333334%}.col-5{width:41.66666666%}.col-6{width:50%}
	.col-7{width:58.33333334%}.col-8{width:66.66666666%}.col-9{width:75%}
	.col-10{width:83.33333334%}.col-11{width:91.66666666%}.col-12{width:100%}

}
@media screen and (min-width: 992px){
	.container{
		widht: 970px;
	}
}
@media screen and (min-width: 1200px){
	.container{
		widht: 1170px;
	}
}